div{display:inline-block;width:110px;}
.super-mario {

  width: 100px;
}



.goomba {
  position:relative;
  top:-20px;
  width: 100px;
}

.baloon {position:relative;
	top:-340px;
	left:200px;
	width:160px;

}

.speach {position:relative;
	z-index:1;
	top:-275px;
	left:203px;
  font-size: 15px;
}

.bowser {
  position:relative;
  top:-60px;
  left:250px;
  width: 200px;
}
